@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background-color: rgb(30, 29, 29);
  color: #ffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Noto Sans;
  margin-top: 20px;
  gap: 40%;
}

.navbar1 {
  font-size: 22px;
  margin-left: 150px;
}

.links ul {
  display: flex;
  gap: 50px;
}

ul li {
  list-style: none;
  font-size: 17px;
}

.links ul li:hover {
  cursor: pointer;
  color: rgb(5, 68, 108);
}

.header_section {
  display: flex;
  align-items: center;
  margin-top: 70px;
  width: 90%;
}

.header_image img {
  border-radius: 60px;
  height: 880px;
  width: 670px;
}

.header_information {
  width: 540px;
  font-size: 36px;
  font-weight: thin;
  font-family: sans-serif;
  padding-top: 150px;
}

.header_information span {
  border-bottom: 5px solid rgb(5, 68, 108);
}

@import url(//fonts.googleapis.com/css?family=Vibur);
.logo {
  text-align: center;
  width: 65%;
  height: 250px;
  margin: 180px 0 0 -15px;
  user-select: none;
}

.logo b {
  font: 300 15vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span {
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

#btn-twtr {
  clear: both;
  color: #fff;
  border: 2px solid;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  width: 13em;
  padding: 5px 10px;
  font-weight: 600;
  margin: -110px 0 0 -15px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.2);
  opacity: 0.4;
}
#btn-twtr:hover {
  color: #fff;
  opacity: 1;
}
.part1 {
  margin: 55px;
  display: flex;
  align-items: center;
  font-family: Noto Sans;
}

.part1 h1 {
  font-size: 66px;
}

.episodes {
  background-color: rgb(5, 68, 108);
  font-size: 25px;
  padding: 13px 15px;
  border-radius: 8px;
  border: none;
  color: #ffff;
}

.episode1 {
  height: 540px;
  width: 80%;
  display: flex;
  background-color: #000;
  border-radius: 15px;
}

.episode_img img {
  width: 440px;
  height: 515px;
  border-radius: 9px;
  padding: 20px 0 0 20px;
}

.episodes_information {
  padding-top: 40px;
  padding-left: 60px;
}

.black {
  background-color: rgb(30, 29, 29);
  padding: 5px 12px;
  color: #ffff;
  border: none;
}

.episodes_information h3 {
  color: rgb(5, 68, 108);
  font-family: sans-serif;
}

.episodes_information h1 {
  font-size: 55px;
  font-family: sans-serif;
  line-height: 1.7;
}

.episodes_information p {
  font-family: sans-serif;
  line-height: 2;
}

.episode2 {
  margin-top: 50px;
  height: 540px;
  width: 80%;
  display: flex;
  background-color: #000;
  border-radius: 15px;
}

.part2 {
  display: flex;
  margin: 190px 100px;
  align-items: center;
}

.right_arrow {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgb(5, 68, 108);
  color: #ffff;
}

.part2 img {
  border-radius: 60px;
  height: 880px;
  width: 720px;
}

.part2_information {
  padding-right: 60px;
}

.part2 h3 {
  color: rgb(5, 68, 108);
  font-family: sans-serif;
  margin: 20px;
}

.part2 h1 {
  font-size: 66px;
  font-family: sans-serif;
}

.part2 p {
  width: 490px;
  font-size: 20px;
  margin-top: 20px;
  line-height: 1.6;
  font-family: sans-serif;
}

.part3 {
  margin-top: 190px;
  height: 400px;
  width: 90%;
  display: flex;
  background-color: #000;
  border-radius: 15px;
}

.part_heads h3 {
  color: rgb(5, 68, 108);
  font-size: 24px;
  font-family: sans-serif;
  padding-top: 90px;
}

.part_heads h1 {
  width: 370px;
  font-size: 66px;
  font-family: sans-serif;
  padding-top: 30px;
}

.buttons form {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.buttons input {
  padding: 26px 180px;
  background-color: rgb(30, 29, 29);
  border: none;
  border-radius: 7px;
  margin: 10px;
}

.buttons input::placeholder {
  font-size: 19px;
  text-align: left;
}

.buttons button {
  background-color: rgb(5, 68, 108);
  font-size: 22px;
  padding: 13px 15px;
  border-radius: 8px;
  border: none;
  color: #ffff;
  margin-right: 430px;
  margin-top: 20px;
}

.part4 {
  display: flex;
  gap: 40px;
  width: 90%;
  margin-top: 190px;
}

.boxs {
  width: 650px;
  height: 360px;
  background-color: #000;
  border-radius: 10px;
}

.stars {
  padding: 60px 0 0 50px;
}

.boxs h2 {
  width: 362px;
  font-size: 40px;
  font-family: sans-serif;
  padding-top: 30px;
}

.boxs p {
  font-family: sans-serif;
  padding: 20px 0 0 50px;
  color: rgb(17, 57, 72);
  font-weight: bold;
  font-size: 19px;
}

.part5 {
  display: flex;
  gap: 40px;
  width: 90%;
  margin-top: 40px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
  width: 90%;
}

.socialMedias {
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  margin: 20px;
}

.icons img {
  width: 34px;
  height: 34px;
}

.socialMedias h1 {
  font-size: 47px;
  font-family: Noto Sans;
}

.links_Footer {
  line-height: 30px;
  font-family: Noto Sans;
  font-size: 28px;
}

.links_Footer ul li:hover {
  cursor: pointer;
  color: rgb(5, 68, 108);
}
